sonar.jdbc.username={{ sonar_db_user }}
sonar.jdbc.password={{ sonar_db_password }}
sonar.jdbc.url=jdbc:postgresql://localhost/{{ sonar_db_name }}
sonar.web.host={{ sonar_web_host }}
sonar.web.context={{ sonar_web_context }}
sonar.web.port={{ sonar_web_port }}

